profiles {

  lsf_gpu {
    includeConfig 'conf/lsf_gpu.conf'
  }

  lsf_cpu {
    includeConfig 'conf/lsf_cpu.conf'
  } 
  
  local_gpu {
    includeConfig 'conf/local_gpu.conf'
  }
  
  local_cpu {
    includeConfig 'conf/local_cpu.conf'
  }
  
  local_nosingularity {
    includeConfig 'conf/local_nosingularity.conf'
  }

}
